<div class="container-fluid">
    <h1>PELICULAS</h1>
    <span>
        Película: {{nombre}} <br>
        Año: {{anio}} <br>
        Puntuacion: {{4*3}}
        <br>
    </span>
    <hr>
    <span>
        Pelicula: {{pelicula.nombre}}<br>
        Año: {{pelicula.anio}} <br>
        Genero: {{pelicula.genero}}
    </span>
    <hr>

    <span>
        <button class="btn btn-warning" (click)="ocultar()">
            Diurno/Nocturno
        </button>

        @if (nocturno==false) {
        <app-tabla></app-tabla>
        }
        @else {
        <app-tabla2></app-tabla2>
        }
    </span>




</div>