<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Plataforma</th>
            <th>Genero</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <!--"pelicula" es cualquier palabra---"series" el nombre del objeto--Y recorre la cantidad de objetos que existe-->
        @for (pelicula of series; track pelicula.nombre) {
        <tr>
            <td>{{pelicula.nombre}}</td>
            <td>{{pelicula.plataforma}}</td>
            <td>{{pelicula.genero}}</td>
            <td>
                <!-- Importa el routerliknk y captura el ide generado en la coleccion -->
                <button class="btn btn-secondary" [routerLink]="['/peliculas', pelicula.id]">
                    Detalles
                </button>
            </td>
        </tr>
        }
    </tbody>
</table>