<nav class="navbar navbar-expand-sm bg-success">
    <div class="container-fluid">
        <ul class="navbar-nav">

            <!-- Hrfe recarga la pagian y la abre y router link trae el componente -->
            <li class="nav-item">
                <a class="nav-link" routerLink="home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="peliculas">Peliculas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="contactos">Contactos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="galeria">Galeria</a>
            </li>
        </ul>
    </div>
</nav>